.topBar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 41px; /* This will cover the top third of the viewport */
  background-color: rgb(255, 255, 100); /* Change this to your desired background color */
  z-index: -1; /* Place it behind other content */
}

#titleImage {
  height: 38px;
  position:static;
  z-index: 0;
}

#topSearch  {
  position: absolute;
  left: 5px;
  z-index: 1;

}

.blackBar {
  height: 41px;
  width:100%;
  position: static;
  top:41px;
  z-index: 4;
  background-color: rgb(18, 18, 18);
}

.container {
  background-image: linear-gradient(to right, rgb(18, 18, 18), rgb(255, 255, 100));

  width: 100%; 
  position: relative;
}

.FADE  {
  background-image: linear-gradient(rgb(18, 18, 18), rgb(255, 255, 100));
  height: 375px;
  width: 100%;
  
}

.liveText h1 {
  position: static;
  bottom: 40px;
  color: aliceblue;
  overflow: hidden; 
  border-right: .15em solid rgb(255, 255, 255); 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 7.5s steps(80, end),
    blink-caret .75s step-end infinite;
  text-align: center;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(255, 255, 255); }
}


.invisible-input {
  border: none; 
  background-color: transparent; 
  color: rgb(255, 255, 255);
  font-size: 25px; 
  position: static;
  
 
}

::placeholder {
  font-weight: bold;
}

input[type="text"] {
  font-weight: bold;
}


  
